In [ ]:
# Create datafram for each scenario
# Each row will be one trial
# Each value represents a randomly generated output based on the probability in the scenario
# Check each row
# Create overall probability

In [1]:
import numpy as np
import pandas as pd
import random

In [25]:
#1) How likely to roll doubles when rolling two dice

ntrials = nrows = 100_000 #number of trials
ndice = ncols = 2 #random events in each trial
die = [1,2,3,4,5,6]
coin = [1,2]

np.random.seed(7)
rolls = np.random.choice(die, ntrials * ndice).reshape(nrows, ncols)
rolls

array([[5, 2],
       [4, 4],
       [5, 2],
       ...,
       [5, 6],
       [5, 4],
       [1, 5]])

In [33]:
df = pd.DataFrame(rolls)
df.head()

   0  1
0  5  2
1  4  4
2  5  2
3  1  2
4  3  3

In [34]:
df.apply(lambda row: row[0] == row[1], axis = 1) #Check whether each row contains matching values

0        False
1         True
2        False
3        False
4         True
         ...
99995    False
99996    False
99997    False
99998    False
99999    False
Length: 100000, dtype: bool

In [35]:

odds = df.apply(lambda row: row[0] == row[1], axis = 1).mean() #mean of array gives odds of rolling toubles T=1, F=1 = doubles/trials =P
odds

0.1646

In [36]:
# If you flip 8 coins, what is the probability of getting exactly 3 heads? More than 3 heads?

coin = [0,1]
ntrials = nrows = 100_000
nflips = ncols = 8

In [39]:
np.random.seed(7)
flips = np.random.choice(coin, ntrials * nflips).reshape(nrows, ncols)
flips = pd.DataFrame(flips)
flips

       0  1  2  3  4  5  6  7
0      1  0  1  0  1  1  1  1
1      0  1  0  1  0  1  0  0
2      0  0  1  0  0  0  1  1
3      0  0  1  1  0  0  1  0
4      0  1  1  0  0  1  1  0
...   .. .. .. .. .. .. .. ..
99995  0  0  1  1  1  1  0  0
99996  0  1  0  0  1  1  1  0
99997  1  0  1  1  1  0  0  1
99998  0  1  0  0  1  1  0  0
99999  1  0  1  1  1  0  1  1

[100000 rows x 8 columns]

In [22]:
#3) 3 webdev to i ds
billboard = np.random.choice (['DS', 'WD', 'WD', 'WD'], 100_000 * 2).reshape(100_000,2)

both_ds = df.apply(lambda row: (row.values[0] == 'DS') and (row.values[1])).mean()
both_ds

0.0