In [ ]:
# Create datafram for each scenario
# Each row will be one trial
# Each value represents a randomly generated output based on the probability in the scenario
# Check each row
# Create overall probability

In [1]:
%matplotlib inline
import numpy as np
import pandas as pd

import viz # curriculum example visualizations

np.random.seed(29)

<h2 id="exercises">Exercises</h2>
<p>Within your <code>codeup-data-science</code> directory, create a directory named <code>statistics-exercises</code>. This will be where you do your work for this module. Create a repository on GitHub with the same name, and link your local repository to GitHub.</p>
<p>Do your work for this exercise in either a python file named <code>simulation.py</code> or a jupyter notebook named <code>simulation.ipynb</code>.</p>
<ol>
<li>
<p>How likely is it that you roll doubles when rolling two dice?</p>
</li>
<li>
<p>If you flip 8 coins, what is the probability of getting exactly 3 heads? What is the probability of getting more than 3 heads?</p>
</li>
<li>
<p>There are approximitely 3 web development cohorts for every 1 data science cohort at Codeup. Assuming that Codeup randomly selects an alumni to put on a billboard, what are the odds that the two billboards I drive past both have data science students on them?</p>
</li>
<li>
<p>Codeup students buy, on average, 3 poptart packages with a standard deviation of 1.5 a day from the snack vending machine. If on monday the machine is restocked with 17 poptart packages, how likely is it that I will be able to buy some poptarts on Friday afternoon? (Remember, if you have mean and standard deviation, use the <code>np.random.normal</code>)</p>
</li>
<li>
<p>Compare Heights</p>
<ul>
<li>Men have an average height of 178 cm and standard deviation of 8cm.</li>
<li>Women have a mean of 170, sd = 6cm.</li>
<li>Since you have means and standard deviations, you can use <code>np.random.normal</code> to generate observations.</li>
<li>If a man and woman are chosen at random, P(woman taller than man)?</li>
</ul>
</li>
<li>
<p>When installing anaconda on a student's computer, there's a 1 in 250 chance
   that the download is corrupted and the installation fails. What are the odds
   that after having 50 students download anaconda, no one has an installation
   issue?  100 students?</p>
<p>What is the probability that we observe an installation issue within the first
150 students that download anaconda?</p>
<p>How likely is it that 450 students all download anaconda without an issue?</p>
</li>
<li>
<p>There's a 70% chance on any given day that there will be at least one food
   truck at Travis Park. However, you haven't seen a food truck there in 3 days.
   How unlikely is this?</p>
<p>How likely is it that a food truck will show up sometime this week?</p>
</li>
<li>
<p>If 23 people are in the same room, what are the odds that two of them share a birthday? What if it's 20 people? 40?</p>
</li>
</ol>
<h4 id="bonus-exercises">Bonus Exercises</h4>
<ul>
<li><a href="https://gist.github.com/ryanorsinger/2996446f02c1bf30fcb3f8fdb88bd51d">Mage Duel</a></li>
<li><a href="https://gist.github.com/ryanorsinger/eac1d7b7e978f90b8390bdc056312123">Chuck a Luck</a></li>
</ul>

1. How likely is it that you roll doubles when rolling two dice?

In [2]:
ntrials = nrows = 100_000 # number of trials
ndice = ncols = 2       # number of random events in each trial
die = [1, 2, 3, 4, 5, 6]

rolls = np.random.choice(die, ntrials * ndice).reshape(nrows, ncols)
rolls

array([[6, 4],
       [5, 6],
       [3, 1],
       ...,
       [5, 6],
       [5, 5],
       [6, 5]])

In [13]:
rolls.apply(lambda row: row[0] == row[1], axis=1).mean()

0.16645

2. If you flip 8 coins, what is the probability of getting exactly 3 heads? What is the probability of getting more than 3 heads?

In [18]:
coin = [0, 1]
ntrials = nrows = 100_000
nflips = ncols = 8

In [19]:
np.random.seed(7)
flips = np.random.choice(coin, ntrials * nflips).reshape(nrows, ncols)
flips = pd.DataFrame(flips)
flips.head()

   0  1  2  3  4  5  6  7
0  1  0  1  0  1  1  1  1
1  0  1  0  1  0  1  0  0
2  0  0  1  0  0  0  1  1
3  0  0  1  1  0  0  1  0
4  0  1  1  0  0  1  1  0

In [22]:
three_heads = flips.apply(lambda row: row.values.sum() == 3, axis=1).mean()
three_heads

0.21814

In [24]:
more_three = rolls.apply(lambda row: row.values.sum() > 3, axis=1).mean()
more_three

0.91542

In [27]:
cohorts = ['WD', 'WD', 'WD', 'DS']
ntrials = nrows = 100_000
npicks = ncols = 2
students = np.random.choice(cohorts, ntrials * npicks).reshape(nrows, ncols)
students = pd.DataFrame(students)
students.head()

    0   1
0  WD  WD
1  WD  WD
2  WD  WD
3  WD  WD
4  DS  DS

In [22]:
#3) 3 webdev to i ds
billboard = np.random.choice (['DS', 'WD', 'WD', 'WD'], 100_000 * 2).reshape(100_000,2)

both_ds = df.apply(lambda row: (row.values[0] == 'DS') and (row.values[1])).mean()
both_ds

0.0